<div class="sidenav-container">
    <nav class="sideNav">
      
       <div class="logo-container">
        <span class="logo"><img src="\assets\logo.png" alt="daisy-flower" style="height: 60px; width: 65px;"><p>DAISY</p></span>
       </div>

       <ul class="sideNav-topItems"> <!--FOR TOP ITEMS-->

        <li>
            <img src="/assets/icons/home.png" alt="home" class="topIcon"> <p><a href="#">Home</a></p> 
        </li>

        <li>
            <img src="/assets/icons/menu-burger.png" alt="bars" class="topIcon"> <p><a href="#">Dashboard</a></p>
        </li>

        <li>
            <img src="/assets/icons/shopping-cart.png" alt="cart" class="topIcon"> <p><a href="#">Cart</a></p>
        </li>
       </ul>


       <ul class="sideNav-bottomItems"> <!--FOR BOTTOM ITEMS IN DASHBOARD -->

        <li>
            <img src="/assets/icons/settings.png" alt="exit" class="btmIcon"><p><a href="#">Settings</a></p>
        </li>

        <li>
            <img src="/assets/icons/exit.png" alt="exit" class="btmIcon"><p><a routerLink="/login">Logout</a></p>
        </li>

       </ul>


    </nav>

</div>
