<div class="mainContainer"> 
    <div class="container">

        <div class="forHeader">
            <h1>First time around here?</h1>
            <h3>Sign up</h3>
        </div>
    
    
        <div class="forInputs">
            <input type="text" class="input" placeholder="First name">
            <i></i>
        </div>
    
        <div class="forInputs">
            <input type="text" class="input" placeholder="Last name">
            <i></i>
        </div>
        
        <div class="forInputs">
            <input type="text" class="input" placeholder="Email">
            <i></i>
        </div>

        <div class="forInputs">
            <input type="text" class="input" placeholder="Username">
            <i></i>
        </div> 
        
        <div class="forInputs">
            <input type="password" class="input" placeholder="Password">
            <i></i>
        </div>

        <div class="forInputs">
            <input type="password" class="input" placeholder="Confirm password">
            <i></i>
        </div>
    
    
        <div class="forLogin">
            <input type="submit" class="submit" value="Sign up">
        </div>
    
        <div class="routeRegister">
            <span class="signUp"> Have an account? <a routerLink="/login"> Login!</a></span>
        </div>
    
        </div>
    </div>

