@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Raleway:wght@100&family=Roboto+Slab:wght@100&display=swap');


*{
    font-family: 'Raleway', sans-serif;
}

// body{
//     background-image: url("background2.png");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-attachment: fixed;
//     background-color: whitesmoke;
// }

.mainContainer{
    margin-top: 30px;
    margin-left: 520px;

}

/* for container position */
.container{
    position: absolute;
    align-items: center;
    text-align: center;
    background-color: #EAE8DF;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1.5rem -0.75rem ;
}


/* for input boxes design */
.input{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    cursor: text;

}
.forInputs{
    display: flex;
    flex-direction: column;
    cursor: text;
    margin-top: 15px;
}

/* for input icons */
i{
    position: relative;
    top: -34px;
    left: 185px;
    color: #fff;
}



/* for placeholder (in input boxes) */
::-webkit-input-placeholder{
    color: #fff;
    border-radius: none;
}

/* for login button */
.submit{
    margin-top: 20px;
    align-items: center;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,.4);
}

.routeRegister{
    margin-top: 2%;
    font-size: smaller;
}

a{
    cursor: pointer;
}
