<app-splashscreen></app-splashscreen>

<div class="container">

    <div class="forHeader">
        <h1>Glad to have you back!</h1>
        <h3>Login</h3>
    </div>


    <div class="forInputs">
        <input type="text" class="input" placeholder="username">
        <i><img src="../../assets/icons/user.png" alt="user" style="width: 20px; height: 18px;"></i>
    </div>
    <div class="forInputs">
        <input type="password" class="input" placeholder="password">
        <i><img src="../../assets/icons/unlock.png" alt="lock" style="width: 20px; height: 18px;"></i>
    </div>


    <div class="forLogin">
        <input type="submit" class="submit" value="Login">
    </div>

    <div class="routeRegister">
        <span class="signUp"> First time around here? <a href="#"> Sign up!</a></span>
    </div>

    </div>

