*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 50px;
}

//mostly for text decorations
li, a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F4A33;
    text-decoration: none;
}

// bar top nav
.topnav-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #EAE8DF;
}

.navLinks{
    list-style: none;
}

.user{
  margin-top: 15px;

}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
  }

  .navLinks li a {
    transition: all 0.1 ease 0;
  }

  .navLinks li a:hover {
    color: gray;
  }

  li a{
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0;
  }

  li a:hover{
    background-color: rgba(206, 206, 206, 0.705);
  }

