/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    }

    body{
        margin: 0;
        font-family: "Times New Roma", Cambria, serif;
        font-style: italic;
        background-color: whitesmoke;
    }
